@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/* basics--------------------------------------------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}


/* font size----------------------------------------------------------- */

/* Mobile: 
14px for body text,
18px for headings 
Tablet: 
16px for body text,
22px for headings
Desktop: 
18px for body text,
24px for headings */

/* Base font sizes for mobile, tablet and desktop */
@media screen and (max-width: 767px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 18px;
  }
}

/* Font sizes for body text and headings using rem */
body {
  font-size: 1rem;
  /* This will be 14px, 16px or 18px depending on the media query above */
}

h1,
h2,
h3 {
  font-size: 1.2857rem;
  /* This will be 18px, 22px or 24px depending on the media query above */
}

.list__item--action i,
.header__icon,
.header__toggleMode{
  font-size: 1.5rem;
}

/* colors------------------------------------------------------ */
:root {
  --bg-primary: #FFFFFF;
  --bg-primary-blur: #ffffffd6;
  --bg-primary-op: #121212c0;
  --bg-secondary: #F5F5F5;
  --text-primary: #212121;
  --text-secondary: #757575;
  --bg-button: #4CAF50;
  --color-button: #FFFFFF;
  --error: #d32f2f;
  --info: #0288d1;
  --success: #2e7d32;
  --disable:#808080;
}

.App.dark {
  --bg-primary: #121212;
  --bg-primary-blur: #121212d9;
  --bg-primary-op: #ffffffca;
  --bg-secondary: #212121;
  --text-primary: #FFFFFF;
  --text-secondary: #BDBDBD;
  --bg-button: #4CAF50;
  --color-button: #FFFFFF;
  --error: #d32f2f;
  --info: #0288d1;
  --success: #2e7d32;
  --disable:#808080;
}







