@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  border: none;
  outline: none;
}


/* For the dark mode of your todo app,
I would suggest using the following colors:  */




/* As for the font sizes,
Material Design recommends using a type scale that is based on multiples of 4,
and using different font sizes for different screen densities. Here are my recommendations based on this principle: Mobile: body text should be 14sp,
and headings should be 20sp Tablet: body text should be 16sp,
and headings should be 24sp Desktop: body text should be 18sp,
and headings should be 28sp */

/* Mobile: 
14px for body text,
18px for headings 
Tablet: 
16px for body text,
22px for headings
Desktop: 
18px for body text,
24px for headings */

:root {
  /* --bg-primary: #FFFFFF;
  --bg-secondary: #F4F4F4;
  --text-primary: #333333;
  --text-secondary: #666666;
  --bg-button: #4CAF50;
  --color-button: #FFFFFF; */

  --bg-primary: #FFFFFF;
  --bg-primary-blur: #ffffffd6;
  --bg-primary-op: #121212c0;
  --bg-secondary: #F5F5F5;
  --text-primary: #212121;
  --text-secondary: #757575;
  --bg-button: #4CAF50;
  --color-button: #FFFFFF;
  --error: #d32f2f;
  --info: #0288d1;
  --success: #2e7d32;
  --disable:#808080;
}

.App.dark {
  /* --bg-primary: #202020;
  --bg-secondary: #333333;
  --text-primary: #FFFFFF;
  --text-secondary: #CCCCCC;
  --bg-button: #4CAF50;
  --color-button: #FFFFFF; */

  --bg-primary: #121212;
  --bg-primary-blur: #121212d9;
  --bg-primary-op: #ffffffca;
  --bg-secondary: #212121;
  --text-primary: #FFFFFF;
  --text-secondary: #BDBDBD;
  --bg-button: #4CAF50;
  --color-button: #FFFFFF;
  --error: #d32f2f;
  --info: #0288d1;
  --success: #2e7d32;
  --disable:#808080;
}

::-webkit-scrollbar {
  display: none;
}


body {
  margin: 0;
  font-family:'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


