
/* TaskList---------------------------------------------------- */

/* flex */
/* .list{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
} */

/* grid */
.list{
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.list__item{
    color: var(--text-primary);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    padding-left: 1rem;
    background-color: var(--bg-secondary);
    /* flex: 1 1 500px; */
    position: relative;
}

.list__item__warning {
    position: absolute;
    top: 30%;
    left: 30%;
    color: var(--error);
    cursor: pointer;
    background-color: var(--bg-primary-blur);
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
}

.list__item--task {
    user-select: none;
    max-width: 200px;
    width: 100px;
    overflow-x: scroll;
}

.list__item--task--input {
    border: none;
    background-color: transparent;
    color: var(--info);
    font-family: "ROBOTO";
    font-size: 1rem;
}

.list__item--action {
    display: flex;
    align-items: center;
}

.list__item--action i{
    margin-right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.list__item--action i:nth-child(1):hover {
    color: var(--error);
}

.list__item--action i:nth-child(2):hover {
    color: var(--info);
}
.list__item--action i:nth-child(2).disable {
    color: var(--disable);
}

.list__item--action i:nth-child(3):hover {
    color: var(--success);
}

.list__item--task s {
    color: var(--bg-button);
}

@media screen and (min-width: 800px) and (max-width: 950px) {
    .list__item__warning--text{
        display: none;
    }
    .list__item__warning {
        left: 40%;
    }
}

@media screen and (min-width: 800px) {
    .list {
        padding: 0.5rem;
        
    }
    .list__item--task {
        min-width: 25vw;
    }
}

@media screen and (max-width: 800px) {
    .list {
        grid-template-columns: 1fr;
        padding: 0 0.5rem;
    }
    .list__item--task {
        min-width: 60vw;
    }
}

@media screen and (max-width: 600px) {
    .list {
    }
    .list__item--task {
        min-width: 50vw;
    }
}

@media screen and (max-width: 480px) {
    .list__item__warning--text{
        display: none;
    }
    .list__item__warning{
        left: 40%;
    }
}

@media screen and (min-width: 200px) and (max-width: 375px) {
    .list__item--action i{
        margin-right: 0.5rem;
    }
}

